################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/CalorieTracker
/CalorieTracker.Api/publish-api
/CalorieTracker.Api/obj
/CalorieTracker.Api/bin
/CalorieTracker.Application/bin
/CalorieTracker.Application/obj
/CalorieTracker.Domain/bin
/CalorieTracker.Domain/obj
/CalorieTracker.Infrastructure/bin
/CalorieTracker.Infrastructure/obj
/CalorieTracker.Tests/bin
/CalorieTracker.Tests/obj
/publish-api
