################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/CalorieTracker
/CalorieTracker.Api/publish-api
/CalorieTracker.Api/obj
/CalorieTracker.Api/bin
/CalorieTracker.Aplication/obj
/CalorieTracker.Aplication/bin
/CalorieTracker.Domain/obj
/CalorieTracker.Domain/bin
/CalorieTracker.Tests/obj
/CalorieTracker.Tests/bin
/CalorieTracker.Infrastructure/obj
/CalorieTracker.Infrastructure/bin
*.sql
/publish-api
/CalorieTracker.Tests/obj/Release/net9.0
/.vs
