{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_SERVER;Database=YOUR_DATABASE;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=true"
  },
  "JwtSettings": {
    "Secret": "YOUR_JWT_SECRET_MIN_32_CHARS_REQUIRED_FOR_HS256",
    "Issuer": "CalorieTrackerApi",
    "Audience": "CalorieTrackerPwa",
    "ExpiryMinutes": 60
  },
  "Gemini": {
    "ApiKey": "YOUR_GEMINI_API_KEY"
  }
}
